{% extends 'base.html' %}
{% block title %}
{{seleted_task.name}} - Detail
{% endblock %}
{% block content %}
<div class="min-h-screen text-gray-700">
    <div class="p-5 px-10">
        <div class="flex flex-col space-y-5">
            <!-- Back to all task -->
            <div class="">
                <a href="{{url_for('dashboard_assign_task')}}" class="relative">
                    <div class="max-w-max flex flex-row space-x-2 items-center text-blue-500 shadow-md py-2 px-3 relative">
                        <div>
                            <i class="fa-solid fa-circle-chevron-left"></i>
                        </div>
                        <div>
                            Back to all tasks
                        </div>
                    </div>
                </a>
            </div>
            <!-- Start Title -->
            <div class="flex flex-row space-x-5 items-center">
                <div class="font-bold text-3xl">
                    <p># {{seleted_task.name}}</p>
                </div>
                <div>
                    <a href="">
                        <div class="flex flex-row space-x-2 items-center text-yellow-500 ">
                            <div>
                                <i class="fa-regular fa-pen-to-square"></i>
                            </div>
                            <div>
                                Edit
                            </div>
                        </div>
                    </a>
                </div>
                <div>
                    <a href="">
                        <div class="flex flex-row space-x-2 items-center text-red-500 ">
                            <div>
                                <i class="fa-solid fa-trash"></i>
                            </div>
                            <div>
                                Delete
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <!-- End title -->

            <!-- Start info Block -->
            <div class="flex flex-col space-y-3 p-5 border rounded-md">
                <div class="flex flex-row space-x-10 items-center">
                    <div class="flex flex-row space-x-3 items-start">
                        <div class="flex flex-row space-x-2 items-cente font-bold">
                            <div>
                                <i class="fa-solid fa-user"></i>
                            </div>
                            <div>
                                <p>Created by: </p>
                            </div>
                        </div>
                        <div>
                            {{seleted_task.created_by.username}}
                        </div>
                    </div>
                    <div class="flex flex-row space-x-3 items-start">
                        <div class="flex flex-row space-x-2 items-cente font-bold">
                            <div>
                                <i class="fa-solid fa-calendar-days"></i>
                            </div>
                            <div>
                                <p>Updated at: </p>
                            </div>
                        </div>
                        <div>
                            {{seleted_task.updated_at}}
                        </div>
                    </div>
                </div>
                <div class="flex flex-row space-x-3 items-start">
                    <div class="flex flex-row space-x-2 items-center text-blue-500 font-bold">
                        <div>
                            <i class="fa-solid fa-circle-info"></i>
                        </div>
                        <div>
                            <p>Description: </p>
                        </div>
                    </div>
                    <div>
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Error laboriosam similique eveniet
                        dolor. In ipsa nam porro vel omnis unde repellat earum dolore, iusto possimus error illum, velit
                        recusandae. Doloribus molestiae quod ullam sequi consequatur quia nulla corporis ea obcaecati
                        accusantium perferendis quae aut dolores laudantium, voluptate veritatis, eligendi deleniti?
                    </div>
                </div>
                <div class="flex flex-row space-x-3 items-start">
                    <div class="flex flex-row space-x-2 items-cente font-bold text-green-600">
                        <div>
                            <i class="fa-solid fa-gear"></i>
                        </div>
                        <div>
                            <p>Record Config: </p>
                        </div>
                    </div>
                    <div class="flex flex-row space-x-5">
                        <div>
                            <p>Duration = {{seleted_task.record_config.duration}}s</p>
                        </div>
                        <div>
                            <p>Number of sample = {{seleted_task.record_config.number_of_sample}}</p>
                        </div>
                        <div>
                            <p>Sample rate = {{seleted_task.record_config.sample_rate}}</p>
                        </div>
                        <div>
                            <p>Channel = {{seleted_task.record_config.channel}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End info block -->

            <!-- Start Button -->
            <div class="flex flex-row space-x-3 self-end">
                <div>
                    <button type="button"
                        class="inline-block px-6 py-2.5 bg-blue-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out"
                        data-bs-toggle="modal" data-bs-target="#exampleModalCenter">
                        <div class="flex flex-row space-x-2 items-center">
                            <div>
                                <i class="fa-solid fa-circle-plus"></i>
                            </div>
                            <div>
                                <p> Add new recording</p>
                            </div>
                        </div>
                    </button>
                </div>
                <div>
                    <button type="button"
                        class="inline-block px-6 py-2.5 bg-red-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-red-700 hover:shadow-lg focus:bg-red-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-red-800 active:shadow-lg transition duration-150 ease-in-out"
                        data-bs-toggle="modal" data-bs-target="#exampleModalCenter">
                        <div class="flex flex-row space-x-2 items-center">
                            <div>
                                <i class="fa-solid fa-trash"></i>
                            </div>
                            <div>
                                <p> Delete all recordings</p>
                            </div>
                        </div>
                    </button>
                </div>
            </div>
            <!-- End Button -->

            <!-- Start table -->
            <div class="flex flex-col">
                <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
                    <div class="py-2 inline-block min-w-full sm:px-6 lg:px-8">
                        <div class="overflow-hidden">
                            <table class="min-w-full">
                                <thead class="bg-white border-b">
                                    <tr>
                                        <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                                            #
                                        </th>
                                        <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                                            Transcript
                                        </th>
                                        <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                                            Instruction
                                        </th>
                                        <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                                            Sample audio
                                        </th>
                                        <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                                            Total recorder
                                        </th>
                                        <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                                            Action
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for recording in seleted_task.recordings %}
                                    <tr class="bg-white border-b transition duration-300 ease-in-out hover:bg-gray-100">
                                        <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                                            {{recording.id}}</td>
                                        <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-normal">
                                            {{recording.transcript}}
                                        </td>
                                        <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-normal">
                                            {{recording.instruction}}
                                        </td>
                                        <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-normal">
                                            <audio src="{{url_for('static', filename='storage/audios/samples/'+recording.sample_filename)}}" controls class=" rounded-md"></audio>
                                        </td>
                                        <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-normal">
                                            ###
                                        </td>
                                        <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-normal">
                                            <div class="flex flex-row space-x-4 items-center text-sm">
                                                <div>
                                                    <a type="button" data-bs-toggle="modal" data-bs-target="#editRecording{{recording.id}}" class=" cursor-pointer">
                                                        <div
                                                            class="flex flex-row space-x-2 items-center text-yellow-500 border border-yellow-500 px-2 py-1 rounded-md shadow-md">
                                                            <div>
                                                                <i class="fa-regular fa-pen-to-square"></i>
                                                            </div>
                                                            <div>
                                                                Edit
                                                            </div>
                                                        </div>
                                                    </a>
                                                </div>
                                                <div>
                                                    <a href="/dashboard/recording/delete/{{recording.id}}/{{seleted_task.id}}">
                                                        <div
                                                            class="flex flex-row space-x-2 items-center text-red-500 border border-red-500 px-2 py-1 rounded-md shadow-md">
                                                            <div>
                                                                <i class="fa-solid fa-trash"></i>
                                                            </div>
                                                            <div>
                                                                Delete
                                                            </div>
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>

                                    <!-- Edit recording -->
                                    <div class="min-w-max text-gray-700">
                                        <div class="modal fade fixed top-0 left-0 hidden w-full h-full outline-none overflow-x-hidden overflow-y-auto"
                                            id="editRecording{{recording.id}}" tabindex="-1" aria-labelledby="exampleModalCenterTitle" aria-modal="true" role="dialog">
                                            <div class="modal-dialog modal-dialog-centered relative w-auto pointer-events-none min-w-max">
                                                <div
                                                    class="modal-content border-none shadow-lg relative flex flex-col w-full pointer-events-auto bg-white bg-clip-padding rounded-md outline-none text-current">
                                                    <div
                                                        class="modal-header flex flex-shrink-0 items-center justify-between p-4 border-b border-gray-200 rounded-t-md">
                                                        <h5 class="text-xl font-medium leading-normal text-gray-800" id="exampleModalScrollableLabel">
                                                            <div class="flex flex-row space-x-2 items-center">
                                                                <div>
                                                                    <i class="fa-regular fa-pen-to-square"></i>
                                                                </div>
                                                                <div>
                                                                    Edit recording {{recording.id}}
                                                                </div>
                                                            </div>
                                                        </h5>
                                                        <button type="button"
                                                            class="btn-close box-content w-4 h-4 p-1 text-black border-none rounded-none opacity-50 focus:shadow-none focus:outline-none focus:opacity-100 hover:text-black hover:opacity-75 hover:no-underline"
                                                            data-bs-dismiss="modal" aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body relative p-4">
                                                        <form method="POST" enctype="multipart/form-data">
                                                            {{edit_recording_form.hidden_tag()}}
                                                            <input type="text" name="edit_id" value="{{recording.id}}" hidden>
                                                            <div class="flex flex-col space-y-5 items-center justify-center">
                                                                <div class="flex flex-row space-x-5 items-center justify-center">
                                                                    <!-- Input1 -->
                                                                    <div class="flex flex-col space-y-3 items-start border p-3 rounded-md">
                                                                        <div class="flex flex-row space-x-2 items-center">
                                                                            <div>
                                                                                <i class="fa-solid fa-font"></i>
                                                                            </div>
                                                                            <div>
                                                                                Transcript
                                                                            </div>
                                                                        </div>
                                                                        <div class="w-full">
                                                                            <hr>
                                                                        </div>
                                                                        <div>
                                                                            <textarea name="edit_transcript" id="edit_transcript" rows="1"
                                                                            class="w-full border rounded-md p-3" required>{{recording.transcript}}</textarea>
                                                                        </div>
                                                                    </div>
                                                                    <!-- Input2 -->
                                                                    <div class="flex flex-col space-y-3 items-start border p-3 rounded-md">
                                                                        <div class="flex flex-row space-x-2 items-center">
                                                                            <div>
                                                                                <i class="fa-solid fa-compact-disc"></i>
                                                                            </div>
                                                                            <div>
                                                                                Sample audio
                                                                            </div>
                                                                        </div>
                                                                        <div class="w-full">
                                                                            <hr>
                                                                        </div>
                                                                        <div>
                                                                            <audio src="{{url_for('static', filename='storage/audios/samples/'+recording.sample_filename)}}" controls></audio>
                                                                        </div>
                                                                        <div>
                                                                            {{edit_recording_form.edit_sample_file()}}
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <!-- Input 3 -->
                                                                <div class="flex flex-col space-y-3 items-start border p-3 rounded-md w-full">
                                                                    <div class="flex flex-row space-x-2 items-center">
                                                                        <div>
                                                                            <i class="fa-solid fa-book"></i>
                                                                        </div>
                                                                        <div>
                                                                            Instruction
                                                                        </div>
                                                                    </div>
                                                                    <div class="w-full">
                                                                        <hr>
                                                                    </div>
                                                                    <div class="w-full">
                                                                        <textarea name="edit_instruction" id="edit_instruction" rows="5"
                                                                            class="w-full border rounded-md p-3" required>{{recording.instruction}}</textarea>
                                                                    </div>
                                                                </div>
                                                                <!-- Btn -->
                                                                <div class="self-end">
                                                                    <button type="button"
                                                                        class="">
                                                                        {{edit_recording_form.submit(class='uppercase inline-block px-6 py-2.5 bg-blue-600 text-white font-medium text-xs leading-tight rounded shadow-md cursor-pointer hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out ml-1')}}
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </form>
                                                    </div>
                                                    <div
                                                        class="modal-footer flex flex-shrink-0 flex-wrap items-center justify-end p-4 border-t border-gray-200 rounded-b-md">
                                                        <button type="button"
                                                            class="inline-block px-6 py-2.5 bg-purple-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-purple-700 hover:shadow-lg focus:bg-purple-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-purple-800 active:shadow-lg transition duration-150 ease-in-out"
                                                            data-bs-dismiss="modal">
                                                            Close
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End table -->
        </div>
    </div>
</div>

<!-- Add new recording -->
<div class="min-w-max text-gray-700">
    <div class="modal fade fixed top-0 left-0 hidden w-full h-full outline-none overflow-x-hidden overflow-y-auto"
        id="exampleModalCenter" tabindex="-1" aria-labelledby="exampleModalCenterTitle" aria-modal="true" role="dialog">
        <div class="modal-dialog modal-dialog-centered relative w-auto pointer-events-none min-w-max">
            <div
                class="modal-content border-none shadow-lg relative flex flex-col w-full pointer-events-auto bg-white bg-clip-padding rounded-md outline-none text-current">
                <div
                    class="modal-header flex flex-shrink-0 items-center justify-between p-4 border-b border-gray-200 rounded-t-md">
                    <h5 class="text-xl font-medium leading-normal text-gray-800" id="exampleModalScrollableLabel">
                        <div class="flex flex-row space-x-2 items-center">
                            <div>
                                <i class="fa-solid fa-microphone"></i>
                            </div>
                            <div>
                                Add new recording
                            </div>
                        </div>
                    </h5>
                    <button type="button"
                        class="btn-close box-content w-4 h-4 p-1 text-black border-none rounded-none opacity-50 focus:shadow-none focus:outline-none focus:opacity-100 hover:text-black hover:opacity-75 hover:no-underline"
                        data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body relative p-4">
                    <form method="POST" enctype="multipart/form-data">
                        {{recording_form.hidden_tag()}}
                        <div class="flex flex-col space-y-5 items-center justify-center">
                            <div class="flex flex-row space-x-5 items-center justify-center">
                                <!-- Input1 -->
                                <div class="flex flex-col space-y-3 items-start border p-3 rounded-md">
                                    <div class="flex flex-row space-x-2 items-center">
                                        <div>
                                            <i class="fa-solid fa-font"></i>
                                        </div>
                                        <div>
                                            Transcript
                                        </div>
                                    </div>
                                    <div class="w-full">
                                        <hr>
                                    </div>
                                    <div>
                                        <textarea name="transcript" id="transcript" rows="1"
                                        class="w-full border rounded-md p-3" required></textarea>
                                    </div>
                                </div>
                                <!-- Input2 -->
                                <div class="flex flex-col space-y-3 items-start border p-3 rounded-md">
                                    <div class="flex flex-row space-x-2 items-center">
                                        <div>
                                            <i class="fa-solid fa-compact-disc"></i>
                                        </div>
                                        <div>
                                            Sample audio
                                        </div>
                                    </div>
                                    <div class="w-full">
                                        <hr>
                                    </div>
                                    <div>
                                        {{recording_form.sample_file()}}
                                    </div>
                                </div>
                            </div>
                            <!-- Input 3 -->
                            <div class="flex flex-col space-y-3 items-start border p-3 rounded-md w-full">
                                <div class="flex flex-row space-x-2 items-center">
                                    <div>
                                        <i class="fa-solid fa-book"></i>
                                    </div>
                                    <div>
                                        Instruction
                                    </div>
                                </div>
                                <div class="w-full">
                                    <hr>
                                </div>
                                <div class="w-full">
                                    <textarea name="instruction" id="instruction" rows="5"
                                        class="w-full border rounded-md p-3" required></textarea>
                                </div>
                            </div>
                            <!-- Btn -->
                            <div class="self-end">
                                <button type="button"
                                    class="inline-block px-6 py-2.5 bg-blue-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out ml-1">
                                    {{recording_form.submit(class='uppercase')}}
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
                <div
                    class="modal-footer flex flex-shrink-0 flex-wrap items-center justify-end p-4 border-t border-gray-200 rounded-b-md">
                    <button type="button"
                        class="inline-block px-6 py-2.5 bg-purple-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-purple-700 hover:shadow-lg focus:bg-purple-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-purple-800 active:shadow-lg transition duration-150 ease-in-out"
                        data-bs-dismiss="modal">
                        Close
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}