{% extends 'dashboard/dashboard.html' %}
{% block dashboard_content %}
<div class="flex flex-col space-y-10 items-end">
    <!-- Button -->
    <div class="flex flex-row space-x-3 items-center">
        <div>
            <button type="button"
                class="inline-block px-5 py-2.5 bg-blue-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out"
                data-bs-toggle="modal" data-bs-target="#addNewConfig">
                <div class="flex flex-row space-x-2 items-center">
                    <div>
                        <i class="fa-solid fa-circle-plus"></i>
                    </div>
                    <div>
                        Add new configuration
                    </div>
                </div>
            </button>
        </div>
        <div>
            <a href=""
                class="inline-block px-5 py-2.5 bg-red-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-red-700 hover:shadow-lg focus:bg-red-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-red-800 active:shadow-lg transition duration-150 ease-in-out">
                <div class="flex flex-row space-x-2 items-center">
                    <div>
                        <i class="fa-solid fa-trash"></i>
                    </div>
                    <div>
                        Delete all configurations
                    </div>
                </div>
            </a>
        </div>
    </div>
    <!-- Content -->
    <div class="flex flex-col self-start w-full">
        <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
            <div class="py-2 inline-block min-w-full sm:px-6 lg:px-8">
                <div class="overflow-hidden">
                    <table class="min-w-full">
                        <thead class="bg-white border-b">
                            <tr>
                                <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                                    #
                                </th>
                                <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                                    Channel
                                </th>
                                <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                                    Sample rate
                                </th>
                                <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                                    Number of sample
                                </th>
                                <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                                    Duration
                                </th>
                                <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                                    Filetype
                                </th>
                                <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                                    Action
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for recordConfig in recordConfigs %}
                            <tr class="bg-white border-b transition duration-300 ease-in-out hover:bg-gray-100">
                                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                                    {{recordConfig.id}}</td>
                                <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                                    {% if recordConfig.channel == 1 %}
                                    Mono
                                    {% else %}
                                    Stereo
                                    {% endif %}
                                </td>
                                <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                                    {{recordConfig.sample_rate}}
                                </td>
                                <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                                    {{recordConfig.number_of_sample}}
                                </td>
                                <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                                    {{recordConfig.duration}}
                                </td>
                                <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                                    {{recordConfig.filetype}}
                                </td>
                                <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                                    <div class="flex flex-row space-x-10 items-center">
                                        <div class="py-1 px-2 rounded-md bg-green-600 text-white text-sm">
                                            <a href="">
                                                Assign
                                            </a>
                                        </div>
                                        <div>
                                            <a type="btn" data-bs-toggle="modal"
                                                data-bs-target="#editConfig{{recordConfig.id}}" class=" cursor-pointer">
                                                <div class="text-yellow-600">
                                                    <i class="fa-solid fa-pen"></i>
                                                </div>
                                            </a>
                                        </div>
                                        <div>
                                            <a href="/dashboard/record-configuration/delete/{{recordConfig.id}}">
                                                <div class="text-red-600">
                                                    <i class="fa-solid fa-trash"></i>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <!-- Edit config -->
                            <div class="modal fade fixed top-0 left-0 hidden w-full h-full outline-none overflow-x-hidden overflow-y-auto"
                                id="editConfig{{recordConfig.id}}" tabindex="-1"
                                aria-labelledby="editConfig{{recordConfig.id}}" aria-modal="true" role="dialog">
                                <div
                                    class="modal-dialog modal-dialog-centered modal-dialog-scrollable relative w-auto pointer-events-none min-w-max">
                                    <div
                                        class="modal-content border-none shadow-lg relative flex flex-col w-full pointer-events-auto bg-white bg-clip-padding rounded-md outline-none text-current">
                                        <div
                                            class="modal-header flex flex-shrink-0 items-center justify-between p-4 border-b border-gray-200 rounded-t-md">
                                            <h5 class="text-xl font-medium leading-normal text-gray-800"
                                                id="exampleModalCenteredScrollableLabel">
                                                <div class="flex flex-row space-x-3 items-center">
                                                    <div>
                                                        <i class="fa-regular fa-pen-to-square"></i>
                                                    </div>
                                                    <div>
                                                        Edit config
                                                    </div>
                                                </div>
                                            </h5>
                                            <button type="button"
                                                class="btn-close box-content w-4 h-4 p-1 text-black border-none rounded-none opacity-50 focus:shadow-none focus:outline-none focus:opacity-100 hover:text-black hover:opacity-75 hover:no-underline"
                                                data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body relative p-4">
                                            <div>
                                                <form method="POST">
                                                    {{record_config_form.hidden_tag()}}
                                                    <div
                                                        class="flex flex-col space-y-5 items-start justify-center w-full">
                                                        <div
                                                            class="flex flex-row space-x-5 items-center justify-center max-w-max">
                                                            <!-- Input 1 -->
                                                            <div
                                                                class="flex flex-col space-y-3 items-start min-w-max p-3 rounded-md border">
                                                                <div
                                                                    class="flex flex-row space-x-3 items-center min-w-max">
                                                                    <div>
                                                                        <i class="fa-solid fa-wave-square"></i>
                                                                    </div>
                                                                    <div>
                                                                        <p>Sample rate (Hz)</p>
                                                                    </div>
                                                                </div>
                                                                <div class="w-full border">
                                                                    <hr>
                                                                </div>
                                                                <div>
                                                                    <input type="text" name="edit_sample_rate"
                                                                        id="edit_sample_rate"
                                                                        class="outline-none border p-3 rounded-md"
                                                                        placeholder="sample rate"
                                                                        value="{{recordConfig.sample_rate}}">
                                                                </div>
                                                            </div>
                                                            <!-- Input 2 -->
                                                            <div
                                                                class="flex flex-col space-y-3 items-start min-w-max p-3 rounded-md border">
                                                                <div
                                                                    class="flex flex-row space-x-3 items-center min-w-max">
                                                                    <div>
                                                                        <i class="fa-brands fa-buffer"></i>
                                                                    </div>
                                                                    <div>
                                                                        <p>Sample Size (Bit/sample)</p>
                                                                    </div>
                                                                </div>
                                                                <div class="w-full border">
                                                                    <hr>
                                                                </div>
                                                                <div>
                                                                    <input type="text" name="edit_number_of_sample"
                                                                        id="edit_number_of_sample"
                                                                        class="outline-none border p-3 rounded-md"
                                                                        placeholder="number of sample"
                                                                        value="{{recordConfig.number_of_sample}}">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div
                                                            class="flex flex-row space-x-5 items-center justify-center max-w-max">
                                                            <!-- Input 3 -->
                                                            <div
                                                                class="flex flex-col space-y-3 items-start min-w-max p-3 border rounded-md">
                                                                <div class="flex flex-row space-x-3 items-center">
                                                                    <div>
                                                                        <i class="fa-solid fa-headphones"></i>
                                                                    </div>
                                                                    <div>
                                                                        Channel
                                                                    </div>
                                                                </div>
                                                                <div class="w-full border">
                                                                    <hr>
                                                                </div>
                                                                <div class="flex justify-center space-x-3">
                                                                    {% if recordConfig.channel == 1 %}
                                                                    <div class="form-check form-check-inline">
                                                                        <input
                                                                            class=" form-check-input appearance-none rounded-full h-4 w-4 border border-gray-300 bg-white checked:bg-blue-600 checked:border-blue-600 focus:outline-none transition duration-200 mt-1 align-top bg-no-repeat bg-center bg-contain float-left mr-2 cursor-pointer"
                                                                            type="radio" name="edit_channel"
                                                                            id="edit_channel" value="1" checked>
                                                                        <label
                                                                            class="form-check-label inline-block text-gray-800"
                                                                            for="inlineRadio10">Mono</label>
                                                                    </div>
                                                                    <div class="form-check form-check-inline">
                                                                        <input
                                                                            class="form-check-input appearance-none rounded-full h-4 w-4 border border-gray-300 bg-white checked:bg-blue-600 checked:border-blue-600 focus:outline-none transition duration-200 mt-1 align-top bg-no-repeat bg-center bg-contain float-left mr-2 cursor-pointer"
                                                                            type="radio" name="edit_channel"
                                                                            id="edit_channel" value="2">
                                                                        <label
                                                                            class="form-check-label inline-block text-gray-800"
                                                                            for="inlineRadio20">Stereo</label>
                                                                    </div>
                                                                    {% else %}
                                                                    <div class="form-check form-check-inline">
                                                                        <input
                                                                            class=" form-check-input appearance-none rounded-full h-4 w-4 border border-gray-300 bg-white checked:bg-blue-600 checked:border-blue-600 focus:outline-none transition duration-200 mt-1 align-top bg-no-repeat bg-center bg-contain float-left mr-2 cursor-pointer"
                                                                            type="radio" name="edit_channel"
                                                                            id="edit_channel" value="1">
                                                                        <label
                                                                            class="form-check-label inline-block text-gray-800"
                                                                            for="inlineRadio10">Mono</label>
                                                                    </div>
                                                                    <div class="form-check form-check-inline">
                                                                        <input
                                                                            class="form-check-input appearance-none rounded-full h-4 w-4 border border-gray-300 bg-white checked:bg-blue-600 checked:border-blue-600 focus:outline-none transition duration-200 mt-1 align-top bg-no-repeat bg-center bg-contain float-left mr-2 cursor-pointer"
                                                                            type="radio" name="edit_channel"
                                                                            id="edit_channel" value="2" checked>
                                                                        <label
                                                                            class="form-check-label inline-block text-gray-800"
                                                                            for="inlineRadio20">Stereo</label>
                                                                    </div>
                                                                    {% endif %}
                                                                </div>
                                                            </div>
                                                            <div
                                                                class="flex flex-col space-y-3 items-start min-w-max p-3 border rounded-md">
                                                                <div class="flex flex-row space-x-3 items-center">
                                                                    <div>
                                                                        <i class="fa-regular fa-clock"></i>
                                                                    </div>
                                                                    <div>
                                                                        Max Duration (s)
                                                                    </div>
                                                                </div>
                                                                <div class="w-full border">
                                                                    <hr>
                                                                </div>
                                                                <div>
                                                                    <input type="number" name="edit_duration"
                                                                        id="edit_duration"
                                                                        class="outline-none rounded-md py-2 px-4 border"
                                                                        value="{{recordConfig.duration}}">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div
                                                            class="flex flex-col space-y-3 w-full items-center p-3 border rounded-md">
                                                            <div
                                                                class="flex flex-row space-x-3 items-center self-start">
                                                                <div>
                                                                    <i class="fa-solid fa-file-audio"></i>
                                                                </div>
                                                                <div>
                                                                    File type
                                                                </div>
                                                            </div>
                                                            <div class="w-full border">
                                                                <hr>
                                                            </div>
                                                            <div class="flex justify-around w-full">
                                                                {% if recordConfig.filetype == "wav" %}
                                                                <div class="form-check form-check-inline">
                                                                    <input
                                                                        class="form-check-input appearance-none rounded-full h-4 w-4 border border-gray-300 bg-white checked:bg-blue-600 checked:border-blue-600 focus:outline-none transition duration-200 mt-1 align-top bg-no-repeat bg-center bg-contain float-left mr-2 cursor-pointer"
                                                                        type="radio" name="edit_filetype"
                                                                        id="edit_filetype" value="wav" checked>
                                                                    <label
                                                                        class="form-check-label inline-block text-gray-800"
                                                                        for="inlineRadio10">WAV</label>
                                                                </div>
                                                                <div class="form-check form-check-inline">
                                                                    <input
                                                                        class="form-check-input appearance-none rounded-full h-4 w-4 border border-gray-300 bg-white checked:bg-blue-600 checked:border-blue-600 focus:outline-none transition duration-200 mt-1 align-top bg-no-repeat bg-center bg-contain float-left mr-2 cursor-pointer"
                                                                        type="radio" name="edit_filetype"
                                                                        id="edit_filetype" value="ogg">
                                                                    <label
                                                                        class="form-check-label inline-block text-gray-800"
                                                                        for="inlineRadio20">OGG</label>
                                                                </div>
                                                                {% else %}
                                                                <div class="form-check form-check-inline">
                                                                    <input
                                                                        class="form-check-input appearance-none rounded-full h-4 w-4 border border-gray-300 bg-white checked:bg-blue-600 checked:border-blue-600 focus:outline-none transition duration-200 mt-1 align-top bg-no-repeat bg-center bg-contain float-left mr-2 cursor-pointer"
                                                                        type="radio" name="edit_filetype"
                                                                        id="edit_filetype" value="wav">
                                                                    <label
                                                                        class="form-check-label inline-block text-gray-800"
                                                                        for="inlineRadio10">WAV</label>
                                                                </div>
                                                                <div class="form-check form-check-inline">
                                                                    <input
                                                                        class="form-check-input appearance-none rounded-full h-4 w-4 border border-gray-300 bg-white checked:bg-blue-600 checked:border-blue-600 focus:outline-none transition duration-200 mt-1 align-top bg-no-repeat bg-center bg-contain float-left mr-2 cursor-pointer"
                                                                        type="radio" name="edit_filetype"
                                                                        id="edit_filetype" value="ogg" checked>
                                                                    <label
                                                                        class="form-check-label inline-block text-gray-800"
                                                                        for="inlineRadio20">OGG</label>
                                                                </div>
                                                                {% endif %}
                                                            </div>
                                                        </div>
                                                        <div class="self-end flex flex-row space-x-5">
                                                            <button type="button"
                                                                class="inline-block px-6 py-2.5 bg-blue-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out ml-1">
                                                                {{record_config_form.submit(class='cursor-pointer
                                                                uppercase')}}
                                                            </button>
                                                            <button type="button"
                                                                class="inline-block px-6 py-2.5 bg-purple-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-purple-700 hover:shadow-lg focus:bg-purple-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-purple-800 active:shadow-lg transition duration-150 ease-in-out"
                                                                data-bs-dismiss="modal">
                                                                Close
                                                            </button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Add new config -->
<div class="modal fade fixed top-0 left-0 hidden w-full h-full outline-none overflow-x-hidden overflow-y-auto"
    id="addNewConfig" tabindex="-1" aria-labelledby="addNewConfig" aria-modal="true" role="dialog">
    <div
        class="modal-dialog modal-dialog-centered modal-dialog-scrollable relative w-auto pointer-events-none min-w-max">
        <div
            class="modal-content border-none shadow-lg relative flex flex-col w-full pointer-events-auto bg-white bg-clip-padding rounded-md outline-none text-current">
            <div
                class="modal-header flex flex-shrink-0 items-center justify-between p-4 border-b border-gray-200 rounded-t-md">
                <h5 class="text-xl font-medium leading-normal text-gray-800" id="exampleModalCenteredScrollableLabel">
                    <div class="flex flex-row space-x-3 items-center">
                        <div>
                            <i class="fa-solid fa-sliders"></i>
                        </div>
                        <div>
                            New config
                        </div>
                    </div>
                </h5>
                <button type="button"
                    class="btn-close box-content w-4 h-4 p-1 text-black border-none rounded-none opacity-50 focus:shadow-none focus:outline-none focus:opacity-100 hover:text-black hover:opacity-75 hover:no-underline"
                    data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body relative p-4">
                <div>
                    <form method="POST">
                        {{record_config_form.hidden_tag()}}
                        <div class="flex flex-col space-y-5 items-center justify-center w-full">
                            <div class="flex flex-row space-x-5 items-center justify-center max-w-max">
                                <!-- Input 1 -->
                                <div class="flex flex-col space-y-3 items-start min-w-max p-3 rounded-md border">
                                    <div class="flex flex-row space-x-3 items-center min-w-max">
                                        <div>
                                            <i class="fa-solid fa-wave-square"></i>
                                        </div>
                                        <div>
                                            <p>Sample rate</p>
                                        </div>
                                        <div class="px-3 bg-blue-500 text-white rounded-md">
                                            <p><span id="sample_rate_value">10</span> Hz </p>
                                        </div>
                                    </div>
                                    <div class="w-full border">
                                        <hr>
                                    </div>
                                    <div>
                                        <div class="relative pt-1">
                                            <input type="range" class="
                                        form-range
                                        appearance-none
                                        w-full
                                        h-6
                                        p-0
                                        bg-transparent
                                        focus:outline-none focus:ring-0 focus:shadow-none
                                      " id="sample_rate_input" step="8000" min="32000" max="48000"
                                                name="sample_rate_input" />
                                        </div>
                                    </div>
                                </div>
                                <!-- Input 2 -->
                                <div class="flex flex-col space-y-3 items-start min-w-max p-3 rounded-md border">
                                    <div class="flex flex-row space-x-3 items-center min-w-max">
                                        <div>
                                            <i class="fa-brands fa-buffer"></i>
                                        </div>
                                        <div>
                                            <p>Sample Size</p>
                                        </div>
                                        <div class="px-3 bg-blue-500 text-white rounded-md">
                                            <p><span id="number_of_sample_value">10</span> Bit / Sample </p>
                                        </div>
                                    </div>
                                    <div class="w-full border">
                                        <hr>
                                    </div>
                                    <div>
                                        <div class="relative pt-1">
                                            <input type="range" class="
                                        form-range
                                        appearance-none
                                        w-full
                                        h-6
                                        p-0
                                        bg-transparent
                                        focus:outline-none focus:ring-0 focus:shadow-none
                                      " id="number_of_sample_input" step="100" min="1000" max="16000"
                                                name="number_of_sample_input" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="flex flex-row space-x-5 items-center justify-center max-w-max">
                                <!-- Input 3 -->
                                <div class="flex flex-col space-y-3 items-start min-w-max p-3 border rounded-md">
                                    <div class="flex flex-row space-x-3 items-center">
                                        <div>
                                            <i class="fa-solid fa-headphones"></i>
                                        </div>
                                        <div>
                                            Channel
                                        </div>
                                    </div>
                                    <div class="w-full border">
                                        <hr>
                                    </div>
                                    <div class="flex justify-center space-x-3">
                                        <div class="form-check form-check-inline">
                                            <input
                                                class=" form-check-input appearance-none rounded-full h-4 w-4 border border-gray-300 bg-white checked:bg-blue-600 checked:border-blue-600 focus:outline-none transition duration-200 mt-1 align-top bg-no-repeat bg-center bg-contain float-left mr-2 cursor-pointer"
                                                type="radio" name="channel" id="channel" value="1" checked>
                                            <label class="form-check-label inline-block text-gray-800"
                                                for="inlineRadio10">Mono</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input
                                                class="form-check-input appearance-none rounded-full h-4 w-4 border border-gray-300 bg-white checked:bg-blue-600 checked:border-blue-600 focus:outline-none transition duration-200 mt-1 align-top bg-no-repeat bg-center bg-contain float-left mr-2 cursor-pointer"
                                                type="radio" name="channel" id="channel" value="2">
                                            <label class="form-check-label inline-block text-gray-800"
                                                for="inlineRadio20">Stereo</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="flex flex-col space-y-3 items-start min-w-max p-3 border rounded-md">
                                    <div class="flex flex-row space-x-3 items-center">
                                        <div>
                                            <i class="fa-regular fa-clock"></i>
                                        </div>
                                        <div>
                                            Max Duration (s)
                                        </div>
                                    </div>
                                    <div class="w-full border">
                                        <hr>
                                    </div>
                                    <div>
                                        <input type="number" name="duration" id="duration"
                                            class="outline-none rounded-md py-2 px-4 border" value="5">
                                    </div>
                                </div>
                            </div>
                            <div class="flex flex-col space-y-3 w-full items-center p-3 border rounded-md">
                                <div class="flex flex-row space-x-3 items-center self-start">
                                    <div>
                                        <i class="fa-solid fa-file-audio"></i>
                                    </div>
                                    <div>
                                        File type
                                    </div>
                                </div>
                                <div class="w-full border">
                                    <hr>
                                </div>
                                <div class="flex justify-around w-full">
                                    <div class="form-check form-check-inline">
                                        <input
                                            class="form-check-input appearance-none rounded-full h-4 w-4 border border-gray-300 bg-white checked:bg-blue-600 checked:border-blue-600 focus:outline-none transition duration-200 mt-1 align-top bg-no-repeat bg-center bg-contain float-left mr-2 cursor-pointer"
                                            type="radio" name="filetype" id="filetype" value="wav" checked>
                                        <label class="form-check-label inline-block text-gray-800"
                                            for="inlineRadio10">WAV</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input
                                            class="form-check-input appearance-none rounded-full h-4 w-4 border border-gray-300 bg-white checked:bg-blue-600 checked:border-blue-600 focus:outline-none transition duration-200 mt-1 align-top bg-no-repeat bg-center bg-contain float-left mr-2 cursor-pointer"
                                            type="radio" name="filetype" id="filetype" value="ogg">
                                        <label class="form-check-label inline-block text-gray-800"
                                            for="inlineRadio20">OGG</label>
                                    </div>
                                </div>
                            </div>
                            <div class="self-end flex flex-row space-x-5">
                                <button type="button"
                                    class="inline-block px-6 py-2.5 bg-blue-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out ml-1">
                                    {{record_config_form.submit(class='cursor-pointer')}}
                                </button>
                                <button type="button"
                                    class="inline-block px-6 py-2.5 bg-purple-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-purple-700 hover:shadow-lg focus:bg-purple-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-purple-800 active:shadow-lg transition duration-150 ease-in-out"
                                    data-bs-dismiss="modal">
                                    Close
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    sample_rate_input = document.getElementById('sample_rate_input')
    number_of_sample_input = document.getElementById('number_of_sample_input')
    record_config = document.getElementById('record_config')

    record_config.classList.add('text-blue-500')

    sample_rate_input.value = 44000
    number_of_sample_input.value = 8000

    document.getElementById('sample_rate_value').innerHTML = sample_rate_input.value
    document.getElementById('number_of_sample_value').innerHTML = number_of_sample_input.value


    sample_rate_input.addEventListener("input", () => {
        document.getElementById('sample_rate_value').innerHTML = sample_rate_input.value
        console.log(sample_rate_input.value)
    })

    number_of_sample_input.addEventListener("input", () => {
        document.getElementById('number_of_sample_value').innerHTML = number_of_sample_input.value
    })
</script>

{% endblock %}