{% extends 'dashboard/dashboard.html' %}
{% block dashboard_content %}
<div class="flex flex-col space-y-10 items-end">
    <!-- Button -->
    <div class="flex flex-row space-x-3 items-center">
        <div>
            <button type="button"
                class="inline-block px-5 py-2.5 bg-blue-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out"
                data-bs-toggle="modal" data-bs-target="#exampleModalCenteredScrollable">
                <div class="flex flex-row space-x-2 items-center">
                    <div>
                        <i class="fa-solid fa-circle-plus"></i>
                    </div>
                    <div>
                        Add new configuration
                    </div>
                </div>
            </button>
        </div>
        <div>
            <a href=""
                class="inline-block px-5 py-2.5 bg-red-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-red-700 hover:shadow-lg focus:bg-red-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-red-800 active:shadow-lg transition duration-150 ease-in-out">
                <div class="flex flex-row space-x-2 items-center">
                    <div>
                        <i class="fa-solid fa-trash"></i>
                    </div>
                    <div>
                        Delete all configurations
                    </div>
                </div>
            </a>
        </div>
    </div>
    <!-- Content -->
    <div class="flex flex-col self-start w-full">
        <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
            <div class="py-2 inline-block min-w-full sm:px-6 lg:px-8">
                <div class="overflow-hidden">
                    <table class="min-w-full">
                        <thead class="bg-white border-b">
                            <tr>
                                <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                                    #
                                </th>
                                <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                                    Channel
                                </th>
                                <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                                    Sample rate
                                </th>
                                <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                                    Number of sample
                                </th>
                                <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                                    Duration
                                </th>
                                <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                                    Filetype
                                </th>
                                <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                                    Action
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for recordConfig in recordConfigs %}
                            <tr class="bg-white border-b transition duration-300 ease-in-out hover:bg-gray-100">
                                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                                    {{recordConfig.id}}</td>
                                <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                                    {% if recordConfig.channel == 1 %}
                                    Mono
                                    {% else %}
                                    Stereo
                                    {% endif %}
                                </td>
                                <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                                    {{recordConfig.sample_rate}}
                                </td>
                                <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                                    {{recordConfig.number_of_sample}}
                                </td>
                                <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                                    {{recordConfig.duration}}
                                </td>
                                <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                                    {{recordConfig.filetype}}
                                </td>
                                <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                                    <div class="flex flex-row space-x-10 items-center">
                                        <div class="py-1 px-2 rounded-md bg-green-600 text-white text-sm">
                                            <a href="">
                                                Assign
                                            </a>
                                        </div>
                                        <div>
                                            <a href="">
                                                <div class="text-yellow-600">
                                                    <i class="fa-solid fa-pen"></i>
                                                </div>
                                            </a>
                                        </div>
                                        <div>
                                            <a href="/dashboard/record-configuration/delete/{{recordConfig.id}}">
                                                <div class="text-red-600">
                                                    <i class="fa-solid fa-trash"></i>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


    <script>
        sample_rate_input = document.getElementById('sample_rate_input')
        number_of_sample_input = document.getElementById('number_of_sample_input')

        document.getElementById('sample_rate_value').innerHTML = sample_rate_input.value
        document.getElementById('number_of_sample_value').innerHTML = number_of_sample_input.value


        sample_rate_input.addEventListener("input", () => {
            document.getElementById('sample_rate_value').innerHTML = sample_rate_input.value
        })

        number_of_sample_input.addEventListener("input", () => {
            document.getElementById('number_of_sample_value').innerHTML = number_of_sample_input.value
        })
    </script>

    {% endblock %}