<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="{{url_for('static', filename='storage/images/favion-icon.png')}}">
    <!-- Tailwind -->
    <!-- <link rel="stylesheet" href="{{url_for('static',filename='css/main.css')}}" /> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tw-elements/dist/css/index.min.css" />
<script src="https://cdn.tailwindcss.com"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    
    <!-- Font-awsome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    
    <title>
        Khmer Voice record system
    </title>
</head>

<style>
    .img1 {
        background-image: url("{{url_for('static', filename='storage/images/img1.png')}}");
    }

    .img2 {
        background-image: url("{{url_for('static', filename='storage/images/img2.png')}}");
    }

    .bg1 {
        background-image: url("{{url_for('static', filename='storage/images/bg1.png')}}");
    }

    .bg2 {
        background-image: url("{{url_for('static', filename='storage/images/bg2.png')}}");
    }

    .bg4 {
        background-image: url("{{url_for('static', filename='storage/images/bg4.png')}}");
    }

    .footer {
        background-image: url("{{url_for('static', filename='storage/images/footer.png')}}");
    }
</style>

<body class="w-full text-gray-700" style="font-family: Ubuntu;">
    {% if current_user.is_authenticated %}
    <div class="absolute top-10 left-10 sm:block hidden">
        <div class="p-2 px-6 border-2 border-blue-900 rounded-md">
            <div class="flex flex-row space-x-5 text-blue-900 items-center">
                <div>
                    <a href="{{url_for('signin_page')}}">
                        <div class="flex flex-row space-x-3 items-center">
                            <div>
                                <i class="fa-regular fa-circle-user"></i>
                            </div>
                            <div>
                                {{current_user.username}}
                            </div>
                        </div>
                    </a>
                </div>
                <div>
                    <a href="{{url_for('signout_page')}}">
                        <div class="bg-blue-900 p-2 rounded-md text-white">
                            <div class="flex flex-row space-x-3 items-center">
                                <div>
                                    <i class="fa-solid fa-arrow-right-from-bracket"></i>
                                </div>
                                <div>
                                    Sign out
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    {% else %}
    <div class="absolute top-10 left-10 sm:block hidden">
        <div class="p-2 px-6 border-2 border-blue-900 rounded-md">
            <div class="flex flex-row space-x-5 text-blue-900 items-center">
                <div>
                    <a href="{{url_for('signin_page')}}">
                        <div class="flex flex-row space-x-3 items-center">
                            <div>
                                <i class="fa-solid fa-right-to-bracket"></i>
                            </div>
                            <div>
                                Sign in
                            </div>
                        </div>
                    </a>
                </div>
                <div>
                    <a href="{{url_for('register_page')}}">
                        <div class="bg-blue-900 p-2 rounded-md text-white">
                            <div class="flex flex-row space-x-3 items-center">
                                <div>
                                    <i class="fa-solid fa-user-plus"></i>
                                </div>
                                <div>
                                    Register
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    <div class="hidden sm:block">
        <!-- header -->
        <div class="flex flex-col space-y-5 items-end w-full py-10 sm:px-20">
            <div class="flex flex-row items-centerw-full justify-end ">
                <div class="flex flex-row space-x-3 items-center text-xl">
                    <div>
                        Cambodia Academy of Digital Technology
                    </div>
                    <div>
                        <i class="fa-solid fa-graduation-cap"></i>
                    </div>
                </div>
            </div>
            <div class="w-1/4 border">
                <hr>
            </div>
            <div class="flex-row space-x-20 text-2xl uppercase flex">
                <div>
                    <a href="{{url_for('home_page')}}">
                        home
                    </a>
                </div>
                <div>
                    <a href="{{url_for('task_page')}}">
                        task
                    </a>
                </div>
                <div>
                    <a href="">
                        about
                    </a>
                </div>
                <div>
                    <a href="">
                        contact
                    </a>
                </div>
            </div>
        </div>
        <!-- sessiton I -->
        <div
            class="flex sm:flex-row sm:space-x-5 sm:space-y-0 sm:items-center sm:justify-between h-screen w-full py-10">
            <div class=" sm:w-1/2 w-4/5 h-full">
                <div class="w-full h-full img1 bg-cover bg-right rounded-tr-3xl rounded-br-3xl">

                </div>
            </div>
            <div
                class="w-1/2 h-full bg1 bg-cover bg-right rounded-tr-3xl rounded-br-3xl flex flex-col items-end justify-center px-20 space-y-10">
                <div class="font-bold text-end" style="font-size: 125px;">
                    Recording <br> Platform
                </div>
                <div>
                    <a href="{{url_for('task_page')}}">
                        <div class="font-bold border-2 border-gray-700 py-3 px-12 rounded-md" style="font-size: 40px;">
                            Get Started
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <!-- session II -->
        <div
            class="flex sm:flex-row sm:space-x-5 sm:space-y-0 sm:items-center sm:justify-between h-screen w-full py-10">
            <div
                class="w-1/2 h-full bg2 bg-cover bg-left rounded-tr-3xl rounded-br-3xl flex flex-col items-start justify-center px-20 space-y-20">
                <div class="font-bold text-start" style="font-size: 125px;">
                    To improve <br> Khmer voice <br> system
                </div>
                <div class=" border-l-8 border-blue-900 pl-3 text-xl">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae at est quas fugit
                    accusantium sunt optio architecto possimus nobis, quos ut molestiae, in impedit inventore,
                    reprehenderit cum ipsum amet hic.
                </div>
            </div>
            <div class=" sm:w-1/2 w-4/5 h-full">
                <div class="w-full h-full img2 bg-cover bg-left rounded-tl-3xl rounded-bl-3xl">

                </div>
            </div>
        </div>
        <!-- session III -->
        <div class="pt-20 flex items-center justify-center">
            <div>
                <img src="{{url_for('static', filename='storage/images/bg3.png')}}" alt="lol">
            </div>
            <div class="absolute self-end p-10">
                <div class="flex flex-col w-max space-y-5">
                    <div class="self-end">
                        <div class="font-bold border-2 border-dashed border-blue-900 text-blue-900 py-3 px-12 rounded-md"
                            style="font-size: 40px;">
                            Register Now
                        </div>
                    </div>
                    <div class="font-bold text-start uppercase" style="font-size: 125px;">
                        to be a part
                    </div>
                </div>
            </div>
        </div>
        <!-- session IV -->
        <div class="bg4 bg-cover bg-top h-screen w-screen p-32 mb-10">
            <div class="flex flex-col space-y-28 items-center w-full justify-center h-full">
                <div class="flex flex-row space-x-20 justify-around w-full">
                    <div class="flex flex-col space-y-5 items-center text-5xl font-bold">
                        <div>
                            <p>Speaker</p>
                        </div>
                        <div class="" style="font-size: 100px;">
                            {{all_speaker}}
                        </div>
                    </div>
                    <div class="flex flex-col space-y-5 items-center text-5xl font-bold">
                        <div>
                            <p>Audios</p>
                        </div>
                        <div class="" style="font-size: 100px;">
                            {{all_audio}}
                        </div>
                    </div>
                </div>
                <div class="flex flex-col space-y-5 items-center text-5xl font-bold">
                    <div>
                        <p>Recording Tasks</p>
                    </div>
                    <div class="" style="font-size: 100px;">
                        {{all_task}}
                    </div>
                </div>
            </div>
        </div>
        <!-- footer -->
        <div class="footer bg-cover w-screen p-10 text-white">
            <div class="flex flex-col space-y-44">
                <div class="flex flex-row items-center justify-between">
                    <div class="flex flex-col space-y-3">
                        <div>
                            <p>Cambodia Academy of Digital Technology</p>
                        </div>
                        <div class="font-bold text-3xl">
                            <p>Khmer voice recording system</p>
                        </div>
                    </div>
                    <div class="flex flex-row space-x-20 text-xl">
                        <div>
                            <a href="{{url_for('home_page')}}">
                                Home
                            </a>
                        </div>
                        <div>
                            <a href="{{url_for('task_page')}}">
                                Task
                            </a>
                        </div>
                        <div>
                            <a href="">
                                About
                            </a>
                        </div>
                        <div>
                            <a href="">
                                Contact
                            </a>
                        </div>
                    </div>
                </div>
                <div class="flex flex-col space-y-5 w-max h-max">
                    <div>
                        <hr>
                    </div>
                    <div>
                        <p>Copyright @ 2022 CADT. All Right Reserve.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- phone view -->
    <div class="h-screen w-screen sm:hidden block text-white">
        <div class="h-full w-full img1 bg-cover bg-center">
            <div class="w-full h-full bg-black opacity-60">
                <div class="bg-gradient-to-b from-black to-transparent w-full h-full p-5">
                    <div class="flex flex-col space-y-20 w-full h-full">
                        <!-- header -->
                        <div class="flex flex-col space-y-5 absolute">
                            <div class="flex flex-row space-x-2 items-center">
                                <div>
                                    <i class="fa-solid fa-graduation-cap"></i>
                                </div>
                                <div>
                                    <p>Cambodia Academy of Dgital Technology</p>
                                </div>
                            </div>
                            <div class="w-3/4">
                                <hr>
                            </div>
                            <div class="flex flex-row items-center justify-between w-full">
                                <div class="flex flex-row space-x-2 border p-2 rounded-md items-center w-max cursor-pointer"
                                    onclick="menuOpenClick()">
                                    <div>
                                        <i class="fa-solid fa-bars-staggered"></i>
                                    </div>
                                    <div>
                                        Menu
                                    </div>
                                </div>
                                <div class="flex flex-row space-x-2 items-center">
                                    {% if current_user.is_authenticated %}
                                    <div>
                                        <a href="{{url_for('signin_page')}}">
                                            <div class="flex flex-row space-x-2 items-center">
                                                <div>
                                                    {{current_user.username }}
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div>
                                        <p>|</p>
                                    </div>
                                    <div>
                                        <a href="{{url_for('register_page')}}">
                                            <div class="flex flex-row space-x-2 items-center">
                                                <div>
                                                    Sign out
                                                </div>
                                                <div>
                                                    <i class="fa-solid fa-arrow-right-from-bracket"></i>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    {% else %}
                                    <div>
                                        <a href="{{url_for('signin_page')}}">
                                            <div class="flex flex-row space-x-2 items-center">
                                                <div>
                                                    Sign in
                                                </div>
                                                <div>
                                                    <i class="fa-solid fa-arrow-right-to-bracket"></i>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div>
                                        <p>|</p>
                                    </div>
                                    <div>
                                        <a href="{{url_for('register_page')}}">
                                            <div class="flex flex-row space-x-2 items-center">
                                                <div>
                                                    <i class="fa-solid fa-user-plus"></i>
                                                </div>
                                                <div>
                                                    Sign up
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="flex flex-col space-y-8 w-full h-full items-center justify-center">
                            <div class="py-2 px-6 rounded-md w-max flex flex-col space-y-3">
                                <div>
                                    Recording Platform
                                </div>
                                <div class="w-full">
                                    <hr>
                                </div>
                            </div>
                            <div class="text-5xl font-bold text-center">
                                To improve Khmer voice system
                            </div>
                            <div class="w-full flex flex-col space-y-5">
                                <div class="border p-3 text-center w-full rounded-md">
                                    <p>Get Started</p>
                                </div>
                                <div class="bg-white opacity-100 p-3 text-center w-full rounded-md text-gray-700">
                                    <p>Register</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="absolute top-0 p-10 hidden h-screen w-screen text-white" id="menu_popup">
            <div class="w-full h-full bg-black opacity-75 rounded-md">
                <div class="absolute top-14 right-14 cursor-pointer" onclick="menuCloseClick()">
                    <i class="fa-regular fa-circle-xmark"></i>
                </div>
                <div class="w-full h-full flex flex-col space-y-5 items-center justify-center">
                    <div>
                        <a href="{{url_for('home_page')}}">
                            Home
                        </a>
                    </div>
                    <div class="w-1/5">
                        <hr>
                    </div>
                    <div>
                        <a href="{{url_for('task_page')}}">
                            Task
                        </a>
                    </div>
                    <div class="w-1/5">
                        <hr>
                    </div>
                    <div>
                        <a href="">
                            About
                        </a>
                    </div>
                    <div class="w-1/5">
                        <hr>
                    </div>
                    <div>
                        <a href="">
                            Contact
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

<script>
    menu_popup = document.getElementById('menu_popup')
    function menuOpenClick() {
        menu_popup.classList.remove('hidden')
        menu_popup.classList.add('block')
    }
    function menuCloseClick() {
        menu_popup.classList.remove('block')
        menu_popup.classList.add('hidden')
    }
</script>

</html>