{% extends 'base.html' %}
{% block title %}
    Record
{% endblock %}
{% block content %}
    <h1>This is recording screen</h1>
    <!-- <div class="w-screen h-screen">
        <div class="flex fle-row">
            <div class="flex flex-col justify-center px-20 space-y-5 text-gray-700">
                <div class="flex flex-row items-center space-x-3 text-3xl">
                    <div class="text-5xl text-blue-800">
                        <i class="fa-solid fa-microphone-lines"></i>
                    </div>
                    <div>
                        <p>Khmer ASR Voice record</p>
                    </div>
                </div>
                <div class="w-full text-justify flex flex-row items-start space-x-3 p-3 border rounded-md">
                    <div class="flex flex-row space-x-2 items-center text-red-400 font-bold">
                        <div>
                            <i class="fa-solid fa-circle-info"></i>
                        </div>
                        <div>
                            <p>Introduction</p>
                        </div>
                    </div>
                    <div>
                        <p>
                            This is recording platform to improve our Khmer ASR model. In this section you require to complete <span class="font-bold">10 tasks</span>.
                            In each task you have to record <span class="font-bold">10 times</span> by in <span class="font-bold">slow rate for 5 times</span> and <span class="font-bold">fast rate in 5 times</span>.
                        </p>
                    </div>
                </div>
                <div class="w-full text-justify flex flex-row items-start space-x-6 p-3 border rounded-md">
                    <div class="flex flex-row space-x-2 items-center text-green-400 font-bold">
                        <div>
                            <i class="fa-solid fa-bullhorn"></i>
                        </div>
                        <div>
                            <p>Instruction</p>
                        </div>
                    </div>
                    <div>
                        <ul style="list-style-type: circle;">
                            <li>Make sure you have already registerd an account.</li>
                            <li>Make sure you enable your microphone on your device.</li>
                            <li>Please read intruction in each task carefully.</li>
                        </ul>
                    </div>
                </div>
                <div class="w-full text-justify flex flex-row items-start space-x-16 p-3 border rounded-md">
                    <div class="flex flex-row space-x-2 items-center text-orange-400 font-bold">
                        <div>
                            <i class="fa-solid fa-key"></i>
                        </div>
                        <div>
                            <p>Tips</p>
                        </div>
                    </div>
                    <div class="flex flex-row space-x-6 items-center">
                        <div class="flex flex-row space-x-2 items-center">
                            <div>
                                <i class="fa-solid fa-volume-high"></i>
                            </div>
                            <div>
                                <p>Speak loudly</p>
                            </div>
                        </div>
                        <div class="flex flex-row space-x-2 items-center">
                            <div>
                                <i class="fa-solid fa-headphones"></i>
                            </div>
                            <div>
                                <p>Use headphone</p>
                            </div>
                        </div>
                        <div class="flex flex-row space-x-2 items-center">
                            <div>
                                <i class="fa-solid fa-ear-listen"></i>
                            </div>
                            <div>
                                <p>Stay in quiet area</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div onclick="startRecord()">
                    <div>
                        <div class="flex flex-row items-center space-x-3 justify-center border border-blue-700 rounded-full p-3 bg-blue-700 text-white hover:text-blue-700 hover:bg-white">
                            <div>
                                <i class="fa-solid fa-circle-play"></i>
                            </div>
                            <div>
                                <p>Start Recording or Continue</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        function startRecord(){
            $.ajax({
                url: "/record_audio",
                type: "POST",
                dataType: "json",
                success: function(data){
                    console.log(data)
                }
            })
        }
    </script> -->
{% endblock %}